body{
    
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background:black;
    
}

.navbar-brand>img {
  width: 60px;
    height: 60px;
}    
.form-control{
    width: 20%;
    
}
.form-group {
	display: flex;
    
}